{{ define "views/404.gohtml" }}
    {{ template "layouts/top.gohtml" .}}

    <div class="row">
        <h2> Page introuvable</h2>
    </div>

    </div>

    {{ template "layouts/bottom.gohtml" .}}

{{ end }}