{{ define "views/index.gohtml"}}
     {{ template "layouts/top.gohtml" .}}
        <!-- /.container-fluid -->

        <div class="row">
            <h2> MAIN PAGE </h2>
        </div>

        </div>
     {{ template "layouts/bottom.gohtml" .}}

{{ end }}
